.contactlist{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.listwraper{

display: flex;
justify-content: center;

}
.listHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.contactlist button {
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #7c3aed;
    color: #fff;
    border-radius: 5px;
}

.item{
    background-color: #fff;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;

}

.item button {
    outline: none;
    cursor: pointer;
    border: 1px solid #B91c1c;
    color: #B91c1c;
    background-color: #ccc;
    padding: 5px 10px ;
    border-radius: 5px;
    margin-left: 10px;
}
.item .editBtn{
    color: #7c3aed;
    border: 1px solid #a4a0ab;

}